# CMake
_deps/
build/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
Makefile
Testing

# JetBrains
.idea/
cmake-build-*/
out/
